<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.gameName %></title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="theme-color" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>">
    <meta name="msapplication-starturl" content="./">

    <link rel="manifest" href="./manifest.json">
    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png">
    <link rel="shortcut icon" href="./favicon.png" type="image/png">

    <meta property="og:url" content="https://konyisoft.gitlab.io/der-rasenmaher/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Der Rasenmäher">
    <meta property="og:description" content="Prototype of a pixel art game written in Phaser 3 and TypeScript">
    <meta property="og:image" content="https://konyisoft.gitlab.io/der-rasenmaher/assets/misc/og.png">

    <style>
      @font-face {
        font-family: "mikropix";
        src: url("./assets/fonts/mikropix.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      html,
      body {
        background-color: #121212;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
  </head>
  <body>
    <div id="phaser-game"></div>
  </body>
</html>
